/* 通用设置 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #d6eaf8 ;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.add-user-btn {
    background-color: #f7dc6f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
}

.add-user-btn:hover {
    background-color: #F4D03F;
}

.detail-user-btn {
    background-color: #a2d9ce;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
}

.detail-user-btn:hover {
    background-color: #73c6b6;
}

.delete-user-btn {
    background-color: #EC7063;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
}

.delete-user-btn:hover {
    background-color: #e74c3c ;
}

/* 容器样式 */
.container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 800px;
    width: 100%;
}

/* 标题样式 */
.title {
    text-align: center;
    color: #4a90e2;
    margin-bottom: 20px;
}


/* 表格样式 */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    font-size: 16px;
}

table thead {
    background-color: #4a90e2;
    color: #ffffff;
}

table th,
table td {
    padding: 12px;
    border: 1px solid #e0e0e0;
    text-align: center;
}

table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tbody tr:hover {
    background-color: #f1f1f1;
}


// 签到表格式
.attendance-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    margin-top: 16px;
}

.attendance-table {
    background-color: #4a90e2;
    color: #ffffff;
}

.attendance-table th,
.attendance-table td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

.attendance-table thead {
    background-color: #f7f7f7;
}

.attendance-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.attendance-table tbody tr:hover {
    background-color: #f1f1f1;
}

/* 如果时间是有效的，背景为浅绿色 */
.valid-time {
    background-color: #d4edda; /* 绿色背景色 */
}

/* 如果时间是无效的，背景为浅红色 */
.invalid-time {
    background-color: #f8d7da; /* 红色背景色 */
}



/* 按钮样式 */
button {
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

button.detail-btn {
    background-color: #5dade2;
}

button.detail-btn:hover {
    background-color: #3498db;
}

button.statistic-btn {
    padding: 12px 24px;
    background-color: #292999
}

button.statistic-btn:hover{
    padding: 12px 24px;
    background-color: #191970
}

/* 表格标题样式 */
th {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

