<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>用户考勤统计</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="container">
    <h1><span th:text="${user.name} "></span>的考勤统计</h1>
    <table class="table">
        <thead>
        <tr>
            <th>周出勤率</th>
            <th>月出勤率</th>
            <th>周平均工作时长</th>
            <th>月平均工作时长</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${statistic.weeklyAttendanceRate} + '%'"></td>
            <td th:text="${statistic.monthlyAttendanceRate} + '%'"></td>
            <td th:text="${statistic.weeklyAvgTime} + '小时'"></td>
            <td th:text="${statistic.monthlyAvgTime} + '小时'"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
