<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>用户考勤记录</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="container">
    <h1>用户 <span th:text="${user.name}"></span> 的考勤记录</h1>

    <div th:each="entry : ${attendanceByDate}">
        <!-- 按 3x2 格式显示每个日期的考勤记录 -->
        <table class="table">
            <thead>
            <tr>
                <td th:text="${entry.key}"></td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <!-- 每一天的打卡时间按行显示 -->
                <td th:text="${entry.value[0]} != null ? ${entry.value[0]} : ''"
                    th:classappend="${validityMap[entry.key][0] ? 'valid-time' : 'invalid-time'}"></td>
                <td th:text="${entry.value[1]} != null ? ${entry.value[1]} : ''"
                    th:classappend="${validityMap[entry.key][1] ? 'valid-time' : 'invalid-time'}"></td></tr>
            <tr>
                <td th:text="${entry.value[2]} != null ? ${entry.value[2]} : ''"
                    th:classappend="${validityMap[entry.key][2] ? 'valid-time' : 'invalid-time'}"></td>
                <td th:text="${entry.value[3]} != null ? ${entry.value[3]} : ''"
                    th:classappend="${validityMap[entry.key][3] ? 'valid-time' : 'invalid-time'}"></td></tr>
            <tr>
                <td th:text="${entry.value[4]} != null ? ${entry.value[4]} : ''"
                    th:classappend="${validityMap[entry.key][4] ? 'valid-time' : 'invalid-time'}"></td>
                <td th:text="${entry.value[5]} != null ? ${entry.value[5]} : ''"
                    th:classappend="${validityMap[entry.key][5] ? 'valid-time' : 'invalid-time'}"></td></tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
