<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.test.mapper.HostDetailsMapper">
    <!-- 一定要映射，不知道为什么MyBaits不做驼峰下划线变换了 -->
    <resultMap id="HostDetailsResultMap" type="com.test.domain.HostDetails">
        <id property="id" column="id" />
        <result property="deviceName" column="device_name" />
        <result property="ipAddress" column="ip_address" />
        <result property="status" column="status" />
        <result property="cpuUsage" column="cpu_usage" />
        <result property="memoryUsage" column="memory_usage" />
        <result property="loginTime" column="login_time" />
        <result property="cpuModel" column="cpu_model" />
        <result property="osVersion" column="os_version" />
    </resultMap>


    <!-- 查询近期所有主机状态 -->
    <select id="insertHostDetails" resultType="com.test.domain.HostDetails">
        INSERT INTO host_details
        (device_name, ip_address, status, cpu_usage, memory_usage, login_time, cpu_model, os_version)
        VALUES (#{deviceName}, #{ipAddress}, #{status}, #{cpuUsage}, #{memoryUsage}, #{loginTime}, #{cpuModel}, #{osVersion})
    </select>

    <select id="getAllDetails" resultType="com.test.domain.HostDetails" resultMap="HostDetailsResultMap">
        SELECT device_name, ip_address, status, cpu_usage, memory_usage, login_time, cpu_model, os_version
        FROM spring_test.host_details
        ORDER BY id DESC
        LIMIT 10
    </select>

</mapper>